<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.mapper.TagMapper">
	<cache type="com.yc.dao.redis.cache.RedisCache"></cache>
	
	<select id="tagAll"  resultType="com.yc.bean.Tag">
		select t_id,t_name,t_count from tag
	</select>
	<select id="tagCount" parameterType="com.yc.bean.Tag" resultType="com.yc.bean.Tag">
		select t_count from tag where t_name=#{t_name}
	</select>
	<update id="tagCountUpdate" parameterType="com.yc.bean.Tag" >
		update tag set t_count=#{t_count} where t_name=#{t_name}
	</update>
	<select id="tag" parameterType="com.yc.bean.Tag" resultType="com.yc.bean.Tag">
		select t_name from tag where t_id=#{t_id}
	</select>
	<insert id="Insertinfo" parameterType="com.yc.bean.Tag">
		insert into tag(t_name,t_count) values(#{t_name},1);
	</insert>
	<!--  
	<select id="filminfo" parameterType="com.yc.bean.Filminfo" resultType="com.yc.bean.Filminfo">
		select * from filminfo ,filmtype where filmtype.typeid=filminfo.typeid
			<if test="typeid != null">
				and filminfo.typeid=#{typeid}
			</if>
			<if test="filmname != null">
				and filmname=#{filmname}
			</if>
			<if test="actor != null">
				and actor=#{actor}
			</if>
			<if test="director != null">
				and director=#{director}
			</if>
			<if test="ticketprice != null">
				and ticketprice>=#{ticketprice}
			</if>
			<if test="ticketprice1 != null">
				and ticketprice &lt;#{ticketprice1}
			</if>
			<if test="ticketprice != null and ticketprice1 != null">
				and ticketprice between #{ticketprice} and #{ticketprice1}
			</if>
	</select>
	
	<insert id="Insertinfo" parameterType="com.yc.bean.Filminfo">
		insert into filminfo (typeid,filmname,actor,director,ticketprice) values (#{typeid},#{filmname},#{actor},#{director},#{ticketprice})
	</insert>-->
	
</mapper>  