<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sql 映射文件，作用是将Java类与数据库的表通过sql映射文件关联起来 -->
<!-- namespace 表示访问这个mapper文件的路径，一般与真实路径相同 -->
<mapper namespace="com.yc.mapper.UserMapper">
<!--  内容:通常就是对数据库的增删该查的sql语句 -->
<!-- 配置访问的语句
select 表示这里配置了一天查询的用的sql语句，id是名字，唯一 
resultType 表示查询语句的结果是什么java类的类型 ，又有UserMaper与Users不在同一个目录下，所以写全路径
#{uid} 表示是一个传进来的一个参数-->

<resultMap type="com.yc.bean.Teacher" id="teacherMap">
	<!-- Teacher类中对应的数据表的主键列  property 表示类中的属性    column这个属性在表中的列名 -->
	<id property="tid" column="tid" />
	<!-- result 表示这个属性是数据库中非主键的属性，id表示是一个主键 -->
	<result property="tname" column="tname"/>
	<!-- 关联对象配置 association配置关联对象 -->
	<!-- 此时这个 property表示这个表在数据库中的名字         javaType表示在类中的名字，并带上路径 -->
	<association property="classes" javaType="com.yc.bean.Classes">
		<id property="cid" column="cid"/>
		<result property="cname" column="cname" />
	</association>
</resultMap>
<select id="selectTeacher3" parameterType="int"  resultMap="teacherMap">
	select Teacher.tid,tname,cid,cname
	from Teacher
	inner join classes on Teacher.tid=classes.tid
	where Teacher.tid=#{tid}
</select>

<resultMap type="com.yc.bean.Classes" id="classMap">
	<!-- Teacher类中对应的数据表的主键列  property 表示类中的属性    column这个属性在表中的列名 -->
	<id property="cid" column="cid" />
	<!-- result 表示这个属性是数据库中非主键的属性，id表示是一个主键 -->
	<result property="cname" column="cname"/>
	<!-- 关联对象配置 association配置关联对象 -->
	<!-- 此时这个 property这个变量在类中的名字        javaType表示返回数据的类路径 -->
	<association property="teacher1" javaType="com.yc.bean.Teacher">
		<id property="tid" column="tid"/>
		<result property="tname" column="tname" />
	</association>
</resultMap>

<select id="selectTeacher4" parameterType="int"  resultMap="classMap">
	select cid,cname,Teacher.tid,tname
	from Teacher
	inner join classes on Teacher.tid=classes.tid
	where cid=#{cid}
</select>








<!-- 
<insert id="userInsert" parameterType="com.yc.bean.Users">
insert into user (name,pwd) values (#{name},#{pwd})
</insert> -->
<!-- 删除 
<delete id="userDeletebyid" parameterType="int">
</delete>
 -->
</mapper>